* {
  box-sizing: border-box;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
  #navbar {
    align-self: start;
  }

  #about.about-me {
    margin: 10px;
    padding: 0;
  }

  #portfolio {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #navbar.dropdown-content.show {
    height: 50vh;
  }

  .project {
    grid-template-rows: 1fr;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas:
    "home-container"
    "about-me"
    "container-2"
    "projects";
  background-color: #0e2540;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.home-container {
  padding: 20px 20px 0 20px;
  background: linear-gradient(rgba(15, 38, 64, 0.95), rgba(15, 38, 64, .8)), url(../img/wocintech2.jpg);
  /* background: #0e2540; */
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 500px;
  background-size: cover;
  display: grid;
  overflow-y: hidden;
  align-items: center;
}

#navbar {
  padding: inherit;
  grid-area: 2/1/3/4;
  font-weight: 600;
  text-decoration: none;
  line-height: 1em;
  text-align: center;
  border-radius: 15px 50px;
  align-items: start;
  height: 25vh;
  z-index: 1;
}

#navbar li {
  list-style-type: none;
  align-self: center;
}

.icon {
  color: white;
  padding: 14px 0;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  background: rgba(31, 57, 84, 0.7);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 0;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content li:hover {
  padding: 10px;
  background-color: #f7897d;
}

.show {
  display: grid;
}

.social {
  grid-area: 1/3/2/4;
  text-align: center;
  text-align: end;
}

i.fab {
  color: #f7897d;
  padding-right: 30px;
}

.fa-4x {
  grid-row-start: 3;
}

.name {
  grid-area: 2 / 1 / 3 / 5;
  font-size: 4vw;
  text-align: center;
}

.name h1, h3 {
  font-family: 'Playfair Display', serif;
  color: #f3e0da;
}

.name h1 {
  font-size: 5vw;
  font-style: italic;
  font-weight: 100;
  margin: 0 0 20;
  text-align: center;
}

.name h3 {
  font-size: 4vw;
  margin-top: 0;
  font-weight: 400;
}

#navbar a {
  text-decoration: none;
  color: #f3e0da;
  font-size: 25px;
}

h1 {
  font-family: 'Playfair Display', serif;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
  padding: 50px;
  margin: 0 50px;
}

.example-number {
  margin: 0;
  padding: 50px 0;
  grid-area: 2/1/5/2;
  line-height: 1.5;
  text-align: center;
  color: #f3e0da;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-me h1, .projects h1 {
  margin: 0;
  width: 100%;
  color: #0f2640;
  background-color: #f3e0da;
  padding: 10px 0;
  text-align: center;
  grid-area: 1/1/2/4;
}

.projects {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 2em;
}

.projects img {
  height: 417.45px;
}

.caption {
  text-align: center;
}

h1.about-me-title {
  margin: 0;
  grid-area: 4/1/5/2;
  background: rgba(13, 37, 64, 0.85);
  color: #fff;
  /* font-size: 4vw; */
  border-radius: 30px 30px 0 0;
  padding: 30px 30px 0 30px;
}

.container-2 {
  padding: 0 20px;
  display: grid;
  background: linear-gradient(rgba(15, 38, 64, 0.95), rgba(15, 38, 64, .8)), url(../img/wocintech1.jpg);
  background-size: cover;
  height: 500px;
  grid-template-columns: auto;
}

.container-2 h1 {
  align-self: end;
  justify-self: start;
  color: #fff;
  background: rgba(13, 37, 64, 0.85);
  margin: 0;
  padding: 30px 30px 0 30px;
  border-radius: 30px 30px 0 0;
}
