// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// $colBcgrd:
@import "https://fonts.googleapis.com/css?family=Oranienbaum";
@import "https://fonts.googleapis.com/css?family=Raleway";

$black: #000000;
$white: #ffffff;

body {
  font-family: 'Oranienbaum', sans-serif;
  color: $black;
  .navbar {
    width: 90%;
    height: 70px;
    margin: 15px auto 30px auto;
    background-color: $white;
    font-size: 40px;
    border-style: solid;
    border-color: $black;
    // Animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    .navbar-brand {
      font-size: 50px;
      color: $black;
    }
  }
  .navbar-default .navbar-nav > li > a {
    color: $black;
  }
  .navbar-default .navbar-nav > li > a:hover {
    font-weight: bold;
  }
  .navbar.shrink {
    min-height: 35px;
  }
  .navbar-collapse > form {
    text-align: center;
  }
  .btn {
    font-size: 20px;
  }
  h1 {
    font-family: 'Oranienbaum', serif;
    font-size: 36px;
    line-height: 38px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
  }
  p {
    font-family: 'Raleway', sans-serif;
  }
  .outer {
    height: 725px;
    img {
      height: 450px;
    }
  }
  .inner {
    height: 630px;
    img {
      height: 375px;
    }
  }
  .container {
    width: 90%;
    margin-top: 150px;
    text-align: center;
    img {
      width: 100%;
    }
  }
  /* SHOW PAGE */

  .container-fluid > .row {
    width: 90%;
    margin: 150px auto 0 auto;
    .col-md-8{
      text-align: left;
      padding: 0;
      img {
        width: 100%;
        height: auto;
        padding-right: 0;
      }
      h1 {
        font-size: 36px;
      }
    }
    .col-md-4 {
      height: auto;
      h1 {
        margin-top: 0;
      }
      img {
        width: 150px;
        height: 150px;
        margin-right: 15px;
      }
      ul {
        padding-left: 0;
        li {
          list-style-type: none;
        }
        h2 {
          display: inline;
        }
      }
    }
    #disqus_thread {
      position: relative;
      color: black;
      font-family: 'Oranienbaum', sans-serif;
    }
    #disqus_thread:after {
      content: "";
      display: block;
      height: 55px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: white;
    }
  }
}
