
* {
    box-sizing: border-box;
}

html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1400px;
    background-color: #bf8c65;
    font-family: 'Space Mono', monospace;
    line-height: 1.5rem;
}

header {
    background-color: #000;
    position: relative;
}

.navbar {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: visible;
}

.navbar a {
    color: #e9ddd1;
    text-transform: uppercase;
}

.nav-menu {
    display: none;
    top: 100px;
    height: 100%;
    list-style: none;
    /* justify-content: space-evenly; */
    padding: 15px 5px;
    /* margin: 0 auto; */
    /* z-index: 10; */
    background-color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 0.08rem;
    line-height: 3.2em;
}

a.logo {
    margin: 0 auto;
}

li.nav-item:hover {
    background-color: #098d8a;
}

li.nav-item:active {
    transform: scale(0.9);
}

.fa {
    margin-right: 10px;
}

.container {
    padding: 20px; 
}

.left, 
.right {
    width: 100%;
    text-align: center;
}

.about-title {
    line-height: 1;
}

.cartoon {
    width: 100%;
}

#projects-container {
    padding: 2.25rem 1.25rem;
    margin: 0 auto 1rem auto;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.apps {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a.projects-link {
    height: 250px;
    padding: 5px;
}

svg.h-6.w-6 {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
}

.gallery {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    height: 100%;
}

.gallery-img {
    display: block;
    width: 100%;
}

.project-about {    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a202c;
    border-width: 4px;
    border-color: #2d3748;
    opacity: 0;
    padding: 10px;
    text-align: center;
}

.project-about:hover {
    opacity: 1;
}

.subtitle, .project-title {
    top: 50%;
    left: 50%;
    margin-bottom: 0.25rem;
    font-weight: 500;
}

.project-title, p.decription.leading-relaxed {
    color: #fff;
    margin: 10px;
}

.subtitle {
    letter-spacing: 0.1em;
    font-size: .875rem;
    color: #68d391;
}

.project-title {
    font-size: 1.125rem;
}

footer {
    text-align: center;
}

.button {
    display: inline-flex;
    justify-content: space-between;
    padding: 15px 25px;
    margin: 0.5rem;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #098d8a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #0e7879;
  }
  
  .button:hover {
    background-color: #93321d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #3f160c;
    }
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

@media (min-width: 600px) {
    .logo {
        font-size: 1.5rem
    }

    .navbar {
        line-height: 1.5rem;
    }

    .nav-menu {
        margin: 0; 
        /* left: 0;  */
        right: 0;
        width: 50%;
        height: auto;
        position: absolute;
    }

    .nav-item {
        flex: 1 0 10%;
    }

    .container {
        display: flex;
        padding: 2.25rem 1.25rem;
    }

    .left {
        flex: 65%;
        text-align: left;
    }

    .about-title {
        font-size: 1.875rem;
    }

    .about-body {
        margin-top: 3.25rem;
        padding-bottom: 2rem;
        font-size: large;
        border-width: 10px;
        border-style: none outset inset none;
        border-color: #93321d;
        box-shadow: 10px 20px #098d8a;
    }

    .right {
        flex: 35%;
    }

    .projects-link {
        width: 50%;
    }
}

/* larger screen */
@media (min-width: 900px) {
    body {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin: auto;
    }

    .navbar {
        justify-content: space-between;
        padding: 1rem;
    }

    .logo {
        margin: 0 0 0 0.3rem;
    }
}

@media (min-width: 1024px) {
    #projects-container {
        /* padding: 10rem; */
    }
}